.blue-bg{
    position: fixed;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSakzObuh-QsvLfV2CPWZGN5t_u2_6nLHIf8Q&usqp=CAU");
    background-size: 100%;
    background-color: #58aff6;
    height: 400px;
    width: 100vw;
    z-index: -1;
    overflow-x: hidden
}

.white-bg{
    position: fixed;
    top: 0;
    background-color: #fff;
    min-height: 100px;
    margin: 210px 0px;
    width: 100vw;
    height: 70vh;
    transform: skewY(10deg);
    z-index: -1
}

.content{
    position: absolute;
    top: 0;
    margin: 250px 10vw;
    max-width: 60vw;
    background-color: transparent
}

.content h1, p{
    text-align: left;
}

.shadow{
    box-shadow: -2px -5px 5px 0px rgba(0,0,0,0.3);
}

