@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  text-align: center;
}

.App-footer a{
  font-size: 15px;
}



